XMLSchemas/Public/EmpAvailModifierDocItem.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import schemaLocation="BaseObjectDocItem.xsd"/>
	<xs:import schemaLocation="TEmpAvailModifier.xsd"/>
	<xs:element name="EmpAvailModifierDocItem" type="TEmpAvailModifierDocItem"/>
	<xs:complexType name="TEmpAvailModifierDocItem">
		<xs:complexContent>
			<xs:extension base="TBaseObjectDocItem">
				<xs:sequence minOccurs="0">
					<xs:element name="EmpAvailModifier" type="TEmpAvailModifier" nillable="false"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
