XMLSchemas/Public/ProfessionDocItem.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import schemaLocation="BaseObjectDocItem.xsd"/>
	<xs:import schemaLocation="TProfession.xsd"/>
	<xs:element name="ProfessionDocItem" type="TProfessionDocItem"/>
	<xs:complexType name="TProfessionDocItem">
		<xs:complexContent>
			<xs:extension base="TBaseObjectDocItem">
				<xs:sequence minOccurs="0">
					<xs:element name="Profession" type="TProfession"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
