XMLSchemas/Public/SaleRequestGroupDocItem.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import schemaLocation="BaseObjectDocItem.xsd"/>
	<xs:import schemaLocation="TSaleRequestGroup.xsd"/>
	<xs:element name="SaleRequestGroupDocItem" type="TSaleRequestGroupDocItem"/>
	<xs:complexType name="TSaleRequestGroupDocItem">
		<xs:complexContent>
			<xs:extension base="TBaseObjectDocItem">
				<xs:sequence minOccurs="0">
					<xs:element name="SaleRequestGroup" type="TSaleRequestGroup" nillable="false"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
