XMLSchemas/Public/SaleShipmentDocItem.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import schemaLocation="BaseObjectDocItem.xsd"/>
	<xs:import schemaLocation="TSaleShipment.xsd"/>
	<xs:element name="SaleShipmentDocItem" type="TSaleShipmentDocItem"/>
	<xs:complexType name="TSaleShipmentDocItem">
		<xs:complexContent>
			<xs:extension base="TBaseObjectDocItem">
				<xs:sequence minOccurs="0">
					<xs:element name="SaleShipment" type="TSaleShipment" nillable="false"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
