XMLSchemas/Public/TDateInterval.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import schemaLocation="TDate.xsd"/>
	<xs:complexType name="TDateInterval">
		<xs:sequence minOccurs="0">
			<xs:element name="BeginDate" type="TDate" nillable="false"/>
			<xs:element name="EndDate" type="TDate" nillable="false"/>
			<xs:element name="Days" type="xs:integer" nillable="false"/>
			<xs:element name="Workdays" type="xs:integer" nillable="false"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
