XMLSchemas/Public/TDateTime.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import schemaLocation="TTime.xsd"/>
	<xs:import schemaLocation="TDate.xsd"/>
	<xs:complexType name="TDateTime">
		<xs:sequence minOccurs="0">
			<xs:element name="Date" type="TDate" nillable="false"/>
			<xs:element name="Time" type="TTime" nillable="false"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
