XMLSchemas/Public/TDoc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">

	<xs:import schemaLocation="TDocItems.xsd"/>

	<xs:complexType name="TDoc">
		<xs:sequence minOccurs="0">
			<xs:element name="DocEmptinessRequirementName" type="xs:string" nillable="false"/>
			<xs:element name="IsComplete" type="xs:boolean" nillable="false"/>
			<xs:element name="DocItems" type="TDocItems" nillable="false"/>
    </xs:sequence>
	</xs:complexType>
</xs:schema>
