XMLSchemas/Public/TEducation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:complexType name="TEducation">
		<xs:sequence minOccurs="0">
			<xs:element name="EducationName" type="xs:string" nillable="false"/>
			<xs:element name="EducationShortName" type="xs:string" nillable="false"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
