XMLSchemas/Public/TEmployeeDisciplineRating.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:complexType name="TEmployeeDisciplineRating">
		<xs:sequence minOccurs="0">
			<xs:element name="NegativeDisciplinePoints" type="xs:integer" nillable="false"/>
			<xs:element name="PositiveDisciplinePoints" type="xs:integer" nillable="false"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
