XMLSchemas/Public/TExceptEventType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:complexType name="TExceptEventType">
		<xs:sequence minOccurs="0">
			<xs:element name="ExceptEventTypeFullNo" type="xs:string" nillable="false"/>
			<xs:element name="ExceptEventTypeName" type="xs:string" nillable="false"/>
			<xs:element name="ExceptEventTypeShortName" type="xs:string" nillable="false"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
