XMLSchemas/Public/TExceptEventLevel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:complexType name="TExceptEventLevel">
		<xs:sequence minOccurs="0">
			<xs:element name="ExceptEventLevelNo" type="xs:string" nillable="false"/>
			<xs:element name="ExceptEventLevelName" type="xs:string" nillable="false"/>
			<xs:element name="ExceptEventLevelAbbrev" type="xs:string" nillable="false"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
