XMLSchemas/Public/TFloatRange.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:complexType name="TFloatRange">
		<xs:sequence minOccurs="0">
			<xs:element name="MinValue" type="xs:float" nillable="false"/>
			<xs:element name="MaxValue" type="xs:float" nillable="false"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
