XMLSchemas/Public/TGlobals.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import schemaLocation="TCurrency.xsd"/>
	<xs:import schemaLocation="TDateTime.xsd"/>
	<xs:import schemaLocation="TEmployee.xsd"/>
	<xs:complexType name="TGlobals">
		<xs:sequence minOccurs="0">
			<xs:element name="BaseCurrency" type="TCurrency" nillable="false"/>
			<xs:element name="SecondaryCurrency" type="TCurrency" nillable="false"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
