XMLSchemas/Public/TProductionOrderType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import schemaLocation="TProductionOrderBaseType.xsd"/>
	<xs:complexType name="TProductionOrderType">
		<xs:sequence minOccurs="0">
			<xs:element name="ProductionOrderTypeName" type="xs:string" nillable="false"/>
			<xs:element name="ProductionOrderTypeAbbrev" type="xs:string" nillable="false"/>
			<xs:element name="ProductionOrderBaseType" type="TProductionOrderBaseType" nillable="false"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
