XMLSchemas/Public/TProductStore.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import schemaLocation="TDept.xsd"/>
	<xs:import schemaLocation="TProduct.xsd"/>
	<xs:import schemaLocation="TDateInterval.xsd"/>
	<xs:complexType name="TProductStore">
		<xs:sequence minOccurs="0">
			<xs:element name="Product" type="TProduct" nillable="false"/>
			<xs:element name="Store" type="TDept" nillable="false"/>
			<xs:element name="MinQuantity" type="xs:float" nillable="false"/>
			<xs:element name="DateInterval" type="TDateInterval" nillable="false"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
