XMLSchemas/Public/TProfession.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:complexType name="TProfession">
		<xs:sequence minOccurs="0">
			<xs:element name="ProfessionName" type="xs:string" nillable="false"/>
			<xs:element name="HourPrice" type="xs:float" nillable="false"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
