XMLSchemas/Public/TShipmentType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:complexType name="TShipmentType">
		<xs:sequence minOccurs="0">
			<xs:element name="ShipmentTypeAbbrev" type="xs:string" nillable="false"/>
			<xs:element name="ShipmentTypeName" type="xs:string" nillable="false"/>
			<xs:element name="Notes" type="xs:string" nillable="true"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
