XMLSchemas/Public/TStoreDealType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:complexType name="TStoreDealType">
		<xs:sequence minOccurs="0">
			<xs:element name="InOut" type="xs:boolean" nillable="false"/>
			<xs:element name="StoreDealTypeAbbrev" type="xs:string" nillable="false"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
