XMLSchemas/Public/TTeam.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import schemaLocation="TDept.xsd"/>
	<xs:complexType name="TTeam">
		<xs:sequence minOccurs="0">
			<xs:element name="TeamNo" type="xs:integer" nillable="false"/>
			<xs:element name="TeamName" type="xs:string" nillable="false"/>
			<xs:element name="IsActive" type="xs:boolean" nillable="false"/>
			<xs:element name="Dept" type="TDept" nillable="false"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
