XMLSchemas/Public/TTimeInterval.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import schemaLocation="TTime.xsd"/>
	<xs:complexType name="TTimeInterval">
		<xs:sequence minOccurs="0">
			<xs:element name="BeginTime" type="TTime" nillable="false"/>
			<xs:element name="EndTime" type="TTime" nillable="false"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
