XMLSchemas/Public/TVatReason.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:complexType name="TVatReason">
		<xs:sequence minOccurs="0">
			<xs:element name="No" type="xs:integer" nillable="false"/>
			<xs:element name="Name" type="xs:string" nillable="false"/>
			<xs:element name="Abbrev" type="xs:string" nillable="false"/>
			<xs:element name="IntlName" type="xs:string" nillable="false"/>
			<xs:element name="IntlAbbrev" type="xs:string" nillable="false"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
